<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>软件许可使用协议</title>
  <link rel="shortcut icon" href="<%= image_path('favicon.ico') %>" />
  <meta name="keywords" content="开门自动调用监控截图，防撬报警，低电量提醒，远程开门，实时监控，门锁各种记录随时可查询，佳安美，深圳佳安美，智能家居，智能安防，智能网关，人脸锁，智能锁，指纹锁，密码锁，电子锁，公寓锁，酒店锁，十大知名品牌，app开锁，远程开锁，wifi，zigbee，蓝牙，433，RFID，射频识别，低功耗，无线，热点，六合一，双向，方案，定制，公众号，小程序" />
  <meta name="description" content="王力，盼盼，天地钩，万能互换，代理，加盟，记录，安全，便捷，省心，稳定，实惠，性价比高，好用，简洁，推荐，淘宝，天猫，京东，网购，值得买，优惠，团购，直销，原厂，专业，厂家直销" />
  <meta name="baidu-site-verification" content="M5LupMKJIr" />
  <%= stylesheet_link_tag 'animate', 'bootsnav', 'bootstrap.min', 'font-awesome.min', 'home/style' %>

  <!-- share start -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>
  <!-- share end -->

  <%= javascript_include_tag 'jquery-2.1.1.min',
                             'bootstrap.min',
                             'bootsnav' %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'respond.min.js', 'html5shiv.min.js' %>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>

<!-- privacy start -->
<div class="jam-index-customize jam-index-body">
  <div class="container">
    <div class="row">
      <div class="area-title">
        <h3 class="visible" data-plugin="appear" data-animate="fade" data-repeat="false">软件许可协议</h3>
        <p class="desc visible" data-plugin="appear" data-animate="fade" data-repeat="false"> Privacy</p>
        </a>
      </div>

      <div class="index_customize">
        <div class="section">
          <div class="affairs">
            <div class="sw">
              <dl>
                <dt>1.前言：</dt>
                <dd>《佳安美智控服务协议》（下称“本《协议》”）是您（下称“用户”）与“佳安美”团队关于用户注册、登录、使用佳安美智控软件服务所订立的协议。本《协议》描述“佳安美”团队与用户之间关于佳安美智控软件服务相关方面的权利义务。用户是指注册、登录、使用、浏览佳安美智控服务的个人或组织。
此特别提醒用户认真阅读、充分理解本《协议》。用户应认真阅读、充分理解本《协议》中各条款，包括免除或者限制佳安美智控团队责任的免责条款及对用户的权利限制条款。请您审慎阅读并选择接受或不接受本《协议》。除非您接受本《协议》所有条款，否则您无权注册、登录或使用本《协议》所涉相关服务。您的注册、登录、使用等行为将视为对本《协议》的接受，并同意接受本《协议》各项条款的约束。本《协议》可由“佳安美”团队随时更新，更新后的协议条款一旦公布即代替原来的协议条款，不再另行通知，用户可随时在最新版本软件中查阅最新版协议条款。在“佳安美”团队修改《协议》条款后，如果用户不接受修改后的条款，请立即停止使用“佳安美智控”提供的服务并删除相关信息，用户继续使用“佳安美智控”提供的服务将被视为已接受了修改后的协议。  未满18周岁的用户，请在法定监护人的陪同下阅读本《协议》，并特别注意未成年人使用条款。</dd>
              </dl>
              <dl>
                <dt>2.使用规则：</dt>
                <dd>（a）用户充分了解并同意，佳安美智控仅为用户提供平台，用户必须为自己注册帐号下的一切行为负责，包括您所传送的任何内容以及由此产生的任何结果。用户应对佳安美智控中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的真实性、正确性、完整性或实用性的依赖而产生的风险。“佳安美”团队不会且无法对因用户行为导致的任何损失或损害承担责任。</dd>
 <dd>（b）用户充分了解并同意，用户须对在佳安美智控上的注册信息的真实性、合法性、有效性承担全部责任，用户不得冒充他人，盗用他人的手机号、邮箱用于注册；不得利用他人的名义传播任何信息；不得恶意使用注册帐号导致其他用户误认；否则“佳安美”团队有权立即停止提供服务，收回佳安美智控帐号并由用户独自承担由此而产生的一切法律责任。</dd>
 <dd>（c）对因为意外事故、滥用、错误使用、擅自修改所引起的软件使用问题，佳安美团队不承担任何责任。</dd>
 <dd>（d）对因为使用软件引起的任何附带的、间接的损失，包括但不限于财产的损失、不能发送或接受数据、业务中断、信息或数据的丢失，无论市基于任何责任理论，佳安美团队都不承担赔偿责任。</dd>
 <dd>（e）用户在使用佳安美智控的任何一项功能之前，需了解其所带来的隐私风险，如在使用过程中发现任何问题，应在第一时间立即删除相关信息并停止使用该功能，否则后果自行承担。如用户由于客观原因无法删除信息，可以联系佳安美智控客服（佳安美智控space@gmail.com）。但是提请用户注意，该行为对“佳安美”团队无追溯效力。用户如在未删除个人相关信息的情况下卸载佳安美智控软件，其个人信息和资料依然会保存在佳安美智控中，对其他用户可见。</dd>
 <dd>（f）用户应对通过本服务了解、接收或可接触到的包括但不限于其他用户在内的任何人的个人信息予以充分尊重，不应以搜集、复制、存储、传播或以其他任何方式使用其他用户的个人信息，否则，由此产生的后果由用户自行承担。</dd>
 <dd>（g）佳安美智控会使用用户的移动设备地理位置信息，并在您的个人主页显示，对其他所有或部分用户可见。用户可以自行前往移动设备的系统设置中进行更改，相关的隐私风险由用户自行承担。</dd>
 <dd>（h）为了增进用户体验、完善服务内容，佳安美智控将不时提供软件更新，这些更新可能会采取软件替换、修改、功能强化、版本升级等形式。为保证服务的安全性和功能的一致性，“佳安美”团队有权不经向用户特别通知而对软件进行更新，或者对软件的部分功能效果进行改变或限制。软件新版本发布后，旧版软件可能无法使用。“佳安美”团队不保证旧版软件继续可用及相应的客户服务，请用户随时核对并下载最新版本。</dd>
 <dd>（i）佳安美智控保留因业务发展需要，单方面对佳安美智控服务的全部或部分服务内容在任何时候不经任何通知的情况下变更、暂停、限制、终止或撤销佳安美智控服务的权利，用户需承担此风险。</dd>
 <dd>（j）在不透露单个用户隐私资料的前提下，用户无需进一步同意并明确不可撤销的自愿授权“佳安美”团队对包括上述信息的整个用户数据库进行收集、统计和分析并对用户数据库进行商业上的利用，在此过程中除特殊说明外，无需支付用户任何费用。用户可关闭账户停止使用佳安美智控服务，但是提请用户注意，该行为对“佳安美”团队无追溯效力。</dd>
 <dd>（k）佳安美智控提供的服务中可能包括广告，用户同意在使用过程中显示佳安美智控和第三方供应商、合作伙伴提供的广告。</dd>
 <dd>（l）用户注册的佳安美智控帐号的所有权归深圳市佳安美智能科技有限公司所有，用户完成申请注册手续后，获得佳安美智控帐号的使用权，该使用权仅属于初始申请注册人，禁止赠与、借用、租用、转让或售卖。否则，由此带来的损失由用户自行承担。</dd>
 <dd>（m）用户有责任妥善保管注册帐号信息并保障帐号密码的安全，用户需要对注册帐号下的行为承担法律责任。用户同意在任何情况下不使用其他成员的帐号或密码。在您怀疑他人在使用您的帐号时，您应当立即通知“佳安美”团队。否则，由此带来的损失由用户自行承担。</dd>
 <dd>（n）除非法律允许或“佳安美”团队书面许可，用户不得从事下列行为：</dd>
   <dd>（1）删除软件及其副本上关于著作权的信息；</dd>
   <dd>（2）对软件进行反向工程、反向汇编、反向编译，或者以其他方式尝试发现软件的源代码；</dd>
   <dd>（3）对“佳安美”团队拥有知识产权的内容进行使用、出租、出借、复制、修改、链接、转载、汇编、发表、出版、建立镜像站点等；</dd>
   <dd>（4）对软件或者软件运行过程中释放到任何终端内存中的数据、软件运行过程中客户端与服务器端的交互数据，以及软件运行所必需的系统数据，进行复制、修改、增加、删除、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非经“佳安美”团队授权的第三方工具/服务接入软件和相关系统；</dd>
   <dd>（5）通过修改或伪造软件运行中的指令、数据，增加、删减、变动软件的功能或运行效果，或者将用于上述用途的软件、方法进行运营或向公众传播，无论这些行为是否为商业目的；</dd>
   <dd>（6）通过非佳安美智控接口开发、授权的第三方软件、插件、外挂、系统，登录或使用佳安美智控软件及服务，或制作、发布、传播上述工具；
   <dd>（7）其他未经“佳安美”团队明示授权的行为。如果用户实施了前款约定的行为，”佳安美智控”团队保留依法追究法律责任的权利。</dd>
（o）用户应遵守本《协议》的各项条款，正确、适当地使用佳安美智控服务，如用户违反本《协议》中的任何条款，”佳安美智控”团队有权依据协议终止对违约用户佳安美智控帐号提供服务。同时，“佳安美”团队保留在任何时候收回佳安美智控帐号、用户名的权利。</dd>
              </dl>
              <dl>
                <dt>3.隐私政策：</dt>
                <dd>（a）“佳安美”团队与用户一同致力于个人隐私信息的保护。未经用户的同意，“佳安美”团队不会向其他的任何公司、组织和个人披露用户的个人隐私信息，但您违反本《协议》约定导致他人投诉或者主管机关追究责任，以及法律法规另有规定的除外。
 <dd>（b）用户同意个人隐私信息是指那些能够对用户个体进行深层次辨识或涉及个人通信的信息，包括下列信息：手机号码，网关MAC地址，IP地址，手机设备识别码。而非个人隐私信息是指用户对佳安美智控服务的操作状态以及使用习惯等一些明确且客观反映在佳安美智控服务器端的基本记录信息和其他一切个人隐私信息范围外的普通信息，以及用户同意公开的上述隐私信息。
 <dd>（c）用户同意并认可在佳安美智控中主动上传的信息（包含真实姓名以及上述的个人隐私信息）以及佳安美智控上公开展示的所有信息为非个人隐私信息。用户如主观意识到潜在的隐私风险，须停止上传并删除相关信息,如用户由于客观原因无法删除信息，可以联系佳安美智控客服（佳安美智控space@gmail.com）。用户使用佳安美智控服务时，主动行为而产生的隐私问题或风险，责任由用户自行承担。
 <dd>（d）佳安美智控在征得用户许可的情况下，利用用户的地理位置和通讯录信息，目的是为了提升产品体验，用户可以自行前往设备系统设置中进行更改。
 <dd>（e）佳安美智控将会采取合理的措施保护用户的个人隐私信息，除法律或有法律赋予权限的政府部门要求，由于黑客攻击、电脑病毒入侵、及其他不可抗力事件导致或用户自愿公开等原因外，佳安美智控未经用户同意不向除合作单位以外的第三方公开、透露用户个人隐私信息。但是，用户在注册时选择同意，或用户与佳安美智控及合作单位之间就用户个人隐私信息公开或使用另有约定的除外，同时用户应自行承担因此可能产生的任何风险，佳安美智控对此不予负责。同时，为了运营和改善佳安美智控的技术和服务，佳安美智控将可能会自行收集使用或向第三方提供用户的非个人隐私信息，这将有助于佳安美智控向用户提供更好的用户体验和提高佳安美智控的服务质量。
 <dd>（f）佳安美智控在为用户提供即时通讯功能的过程中采用了第三方服务，如因该第三方原因导致用户的隐私问题，“佳安美”团队不承担任何责任。
 <dd>（g）用户同意，在使用佳安美智控服务时也同样受佳安美智控隐私政策的约束。当您接受本《协议》条款时，您同样认可并接受“佳安美”团队隐私政策的条款。
 <dd>（h）我们正在使用收集数据的cookies；我们正在使用友盟收集并分析使用数据，主要为客观反映在佳安美智控服务过程中的基本统计信息和其他一切与用户个人隐私无关的普通信息，数据仅用来分析佳安美智控服务的运营状态和用户的使用习惯，以供佳安美智控服务的进一步研发，优化和用户需求改善。 
</dd>
              </dl>
              <dl>
                <dt>4.法律责任及免责：</dt>
                <dd>（a）用户通过佳安美智控服务所传送的任何内容并不反映“佳安美”团队的观点或政策，“佳安美”团队对此不承担任何责任。</dt>
  <dd>（b）用户违反本《协议》或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，用户同意赔偿“佳安美”团队与合作公司、关联公司，并使之免受损害。</dt>
  <dd>（c）用户因第三方如电信部门的通讯线路故障、技术问题、网络、电脑故障、系统不稳定性及其他各种不可抗力原因而遭受的一切损失，“佳安美”团队及合作单位不承担责任。</dt>
  <dd>（d）因技术故障等不可抗事件影响到服务的正常运行的，“佳安美”团队及合作单位承诺在第一时间内与相关单位配合，及时处理进行修复，但用户因此而遭受的一切损失，“佳安美”团队及合作单位不承担责任。</dt>
  <dd>（e）佳安美智控服务同大多数互联网服务一样，受包括但不限于用户原因、网络服务质量、社会环境等因素的差异影响，可能受到各种安全问题的侵扰，如他人利用用户的资料，造成现实生活中的骚扰；用户下载安装的其它软件或访问的其他网站中含有“特洛伊木马”等病毒，威胁到用户的计算机信息和数据的安全，继而影响佳安美智控服务的正常使用等等。用户应加强信息安全及使用者资料的保护意识，要注意加强密码保护，切勿在使用本服务时透露任何涉及财产、本服务帐户及密码等重要信息，以免遭致损失和骚扰。否则，由此带来的损失由您自行承担，“佳安美”团队不承担任何责任。</dt>
  <dd>（f）用户须明白，使用佳安美智控服务因涉及Internet服务，可能会受到各个环节不稳定因素的影响。因此，佳安美智控服务存在因不可抗力、计算机病毒或黑客攻击、系统不稳定、用户所在位置、用户关机以及其他任何技术、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险。用户须承担以上风险，“佳安美”团队不作担保。对因此导致用户不能发送和接受阅读信息、或接发错信息，“佳安美”团队不承担任何责任。</dt> 
  <dd>（g）用户须明白，在使用佳安美智控服务过程中存在有来自任何他人的包括威胁性的、诽谤性的、令人反感的或非法的内容或行为或对他人权利的侵犯（包括知识产权）的匿名或冒名的信息的风险，用户须承担以上风险，“佳安美”团队和合作公司对佳安美智控服务不作任何类型的担保，不论是明确的或隐含的，包括所有有关信息真实性、适商性、适于某一特定用途、所有权和非侵权性的默示担保和条件，对因此导致任何因用户不正当或非法使用服务产生的直接、间接、偶然、特殊及后续的损害，不承担任何责任。</dt>
  <dd>（h）用户须明白，佳安美智控服务仅提供一个在线社交的平台，用户应当对其他用户使用本服务所发布的内容进行独立判断并承担因依赖该内容而引起的所有风险，包括但不限于因对内容的正确性、完整性或实用性的依赖而产生的风险以及因用户个人信息被其他用户获知而带来的风险。“佳安美”团队不对本服务用户之间的纠纷承担任何责任。</dt>
  <dd>（i）佳安美智控定义的信息内容包括：文字、软件、声音、相片、录像、图表等；在广告中全部内容；”佳安美智控”团队为用户提供的商业信息，所有这些内容受版权、商标权、和其它知识产权和所有权法律的保护。所以，用户只能在“佳安美”团队和广告商授权下才能使用这些内容，而不能擅自复制、修改、编纂这些内容、或创造与内容有关的衍生产品。</dt>
  <dd>（j）佳安美智控可能会使用第三方软件或技术（包括本软件可能使用的开源代码和公共领域代码等，下同），这种使用已经获得合法授权。佳安美智控如果使用了第三方的软件或技术，”佳安美智控”团队将按照相关法规或约定，对相关的协议或其他文件，可能通过本《协议》附件、在本软件安装包特定文件夹中打包等形式进行展示，它们可能会以“软件使用许可协议”、“授权协议”、“开源代码许可证”或其他形式来表达。前述通过各种形式展现的相关协议或其他文件，均是本《协议》不可分割的组成部分，与本《协议》具有同等的法律效力，用户应当遵守这些要求。如果用户没有遵守这些要求，该第三方或者国家机关可能会对您提起诉讼、罚款或采取其他制裁措施，并要求”佳安美智控”团队给予协助，用户应当自行承担相应的法律责任。在使用第三方软件或服务时发生任何纠纷的，用户应与第三方直接联系，“佳安美”团队不承担任何责任，但根据需要会依法提供必要的协助。违反本《协议》，导致任何第三方损害的，用户应当独立承担责任；“佳安美”团队因此遭受损失的，有权要求用户一并赔偿。</dt>
  <dd>（k）用户在使用佳安美智控过程中所发布的内容有可能会被第三方复制、转载、修改或做其他用途，脱离用户的预期和控制，您必须充分意识此类风险的存在，”佳安美智控”团队对由此产生的纠纷不予负责。</dt>
  <dd>（l）在任何情况下，“佳安美”团队均不对任何间接性、后果性、惩罚性、偶然性、特殊性或刑罚性的损害，包括因用户使用佳安美智控服务而遭受的利润损失，承担责任（即使佳安美智控已被告知该等损失的可能性亦然）。尽管本《协议》中可能含有相悖的规定，”佳安美智控”团队对您承担的全部责任，无论因何原因或何种行为方式，始终不超过您在成员期内因使用佳安美智控服务而支付给“佳安美”团队的费用（如有）。</dt>
  <dd>（m）“佳安美”团队有权根据实际情况自行决定在服务器上对用户在本服务中的数据的最长储存期限、为单个用户分配的最大存储使用空间等；“佳安美”团队不对用户在本服务中相关数据的删除或储存失败负责。用户应对重要数据在本服务之外自行进行备份。如果您的服务被终止或取消，“佳安美”团队可以从服务器上永久地删除您的数据。服务终止或取消后，“佳安美”团队没有义务向您返还或恢复任何数据。</dd>
              </dl>
              <dl>
                <dt>5.其他:</dt>
                <dd>（a）佳安美团队郑重提醒用户注意本《协议》中免除“佳安美”团队和加重用户义务的条款，请用户仔细阅读，自主考虑风险。未成年人应在法定监护人的陪同下阅读本《协议》。以上各项条款内容的最终解释权及修改权归“佳安美”团队所有。</dd>
                <dd>（b）本《协议》遵循中华人民共和国大陆地区法律，并受其管辖。</dd>
                <dd>（c）本《协议》任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交本《协议》签订地有管辖权的人民法院管辖。</dd>
                <dd>（d）本《协议》所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本《协议》涵义解释的依据。</dd>
                <dd>（e）本《协议》所定的任何条款的部分或全部无效者，不影响其它条款的效力。</dd>
                <dd>（f）本《协议》的版权由“佳安美”团队所有，“佳安美”团队保留一切解释和修改权利。 </dd>
              </dl> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- privacy end -->

<!-- footer start -->
<div class="footer">
  <%#= render 'share/footer' %>
</div>
<!-- footer end -->
</body>
</html>